<article class="grid grid-cols-4 gap-4{% if todo.is_done %} bg-green-50{% endif %}">
    <div class="col-span-3 py-3">
        <p 
            class="px-6 text-xs text-gray-900"
            hx-get="/tasks/{{ task.id }}/edit-todo/{{ todo.id }}/"
            hx-target="this"
            hx-swap="outerHTML"
        >
            <h2 class="text-sky-500 ml-6">{{ todo.title }}</h2>
        </p>
    
        <p 
            class="max-w-full px-6 text-xs text-gray-900 break-words"
            hx-get="/tasks/{{ task.id }}/edit-description/{{ todo.id }}/"
            hx-target="this"
            hx-swap="outerHTML"
            hx-trigger="click"
    >
        {{ todo.description|default:"Enter description!" }}
    </p>
    <textarea 
        id="tasks/{{ task.id }}/edit-description/{{ todo.id }}" 
        style="display: none; resize: vertical;"
        placeholder="Enter description..."
    ></textarea>

    </div>

    <div class="col-span-1 px-6 py-3 flex justify-end space-x-4">
        {% if not todo.is_done %}
            <form
                hx-put="/tasks/{{ task.id }}/update/{{ todo.id }}/"
                hx-target="closest article"
                hx-swap="outerHTML"
            >
                <button class="text-sky-600 hover:text-sky-900">
                    Done
                </button>
            </form>
        {% endif %}

        <a 
            href="#" 
            class="text-sky-600 hover:text-sky-900"
            hx-confirm="Are you sure?"
            hx-target="closest article"
            hx-swap="outerHTML swap:1s"
            hx-delete="/tasks/{{ task.id }}/delete/{{ todo.id }}/"
        >
            Delete
        </a>
    </div>
</article>