{% extends 'todo/base.html' %}

{% block title %}Tasks{% endblock%}

{% block content %}

<div class="w-4/5 my-6 px-4 mx-auto py-2 lg:p-10 bg-white rounded-xl">
    <h1 class="flex justify-center items-center text-3xl mb-6 text-gray-800 h-16">Tasks</h1>

    <div class="flex justify-center mb-10">
        <div class="flex flex-col">
            <form action="/tasks/create-task/" method="post">
                {% csrf_token %}
                <input type="text" name="task" class="title max-w-lg w-96 px-4 py-3 bg-gray-200 rounded-xl mb-4" placeholder="Enter Task" required>
                <button type="submit" class="w-16 px-6 py-3 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600">+</button>
            </form>
            
            <form action="/tasks/create-ai-task/" method="post">
                {% csrf_token %}
                <input type="text" name="task" class="title max-w-lg w-96 px-4 py-3 bg-gray-200 rounded-xl mb-4" placeholder="Enter AI-Task" maxlength="100" required>
                <button type="submit" class="w-16 px-6 p-3 rounded-xl text-white bg-cyan-500 hover:bg-cyan-600">AI</button>
            </form>
        </div>
    </div>

        

    <ul class="divide-y divide-gray-200">
        {% for task in tasks %}
        <li class="flex py-4">
            <div class="flex-grow">
                <a href="{% url 'todos' task.id %}" class="text-sky-600 hover:text-sky-900">{{ task.name }}</a>
            </div>
            <div class="ml-auto pr-10">
                <a href="{% url 'delete_task' task.id %}" class="text-sky-600 hover:text-sky-900">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                    </svg>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>


<script src="https://cdn.tailwindcss.com"></script>
<script src="https://unpkg.com/htmx.org@1.6.1"></script>

{% endblock %}